  
{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
	<img src="{{event_detail.image_url}}" class="card-img-top" alt="..." style="height: 17rem;width: 25%;position: relative;left:35%">
	<ul class="list-group">
		<li class="list-group-item active">Event Name:{{ event_detail.event_name }}</li>
    	<li class="list-group-item">Event Name:description{{ event_detail.description }}</li>
    	<li class="list-group-item">Date:{{ event_detail.date }}</li>
    	<li class="list-group-item">Venue:{{ event_detail.venue }}</li>
    	<li class="list-group-item">Venue_url:{{ event_detail.venue_url }}</li>
    </ul>
</div> 




{% endblock content %}